#accordion {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;

  .card {
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: transparent;
    border-color: $colorBlue;
    position: relative;
    overflow: hidden;

    .card-header {
      background: transparent;
      border: none;
      padding: 0.75rem 0.25rem;

      .btn-link {
        width: 100%;
        text-align: left;

        &:hover {
          text-decoration: none;
        }

        span.number {
          color: $colorWhite;
          font-weight: 700;
          font-style: italic;
          font-size: 1.5rem;
          letter-spacing: -1px;
          margin-right: 0.5em;
          transition: all 0.3s ease-in-out;
          line-height: 0.9em;
        }

        span.quest {
          color: $colorWhite;
          font-size: 0.8rem;
          font-weight: 600;
          font-style: italic;
          letter-spacing: -0.5px;
          line-height: 1.2em;
          padding-right: 5px;
        }

        svg {
          fill: $colorWhite;
          color: $colorWhite;
          transition: all 0.3s ease-in-out;
          transform: rotate(-135deg);
        }

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $colorBlue;
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }

        &.collapsed {
          span.number,
          span.quest {
            color: $colorBlue;
          }

          svg {
            fill: $colorBlue;
            color: $colorBlue;
            transform: rotate(0);
          }

          &::after {
            background-color: transparent;
          }
        }
      }
    }

    .card-body {
      font-size: 0.9rem;
      color: $colorWhite;
    }
  }

  @include responsive(atMedium) {
    .card {
      .card-header {
        padding: 0.75rem 0.75rem;
        .btn-link {
          span.number {
            font-size: 2.8125rem;
          }
          span.quest {
            font-size: 1.25rem;
            padding-right: 20px;
          }
        }
      }
      .card-body {
        font-size: 1rem;
      }
    }
  }

  @include responsive(atExtraLarge) {
    .card {
      .card-header {
        .btn-link {
          span.number {
            padding-right: 0;
            letter-spacing: -3px;
          }
          span.quest {
            padding-right: 50px;
          }
        }
      }
    }
  }
}
