* {
  box-sizing: border-box;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  font-size: 62.5%; //10px = 1rem; 10/16px = 62.5
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  border: 0;
}

/* clear */
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
  clear: both;
}
