.btn {
  text-transform: uppercase;

  &--cadastre-se {
    background-color: $colorRed;
    color: $colorWhite;
    font-weight: 500;
    padding: 0.375rem 2.715rem;
    &:hover {
      background-color: $colorWhite;
      color: $colorRed;
      border: solid 1px $colorRed;
    }
  }

  &--green {
    background: $colorGreenFlorest;
    color: $colorWhite;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    border-radius: 10px;

    &:hover {
      color: $colorGreenFlorest;
      background: $colorWhite;
      border: solid 1px $colorGreenFlorest;
    }

    &--extralarge {
      padding: 0.8rem 1rem;
      font-size: 0.8rem;
    }

    &--mediumlarge {
      font-size: 1rem;
      padding: 0.8rem 3rem;
    }

    &--full {
      width: 100%;
      border-radius: 10px;
      padding: 0.85rem 1rem;
      margin: 15px 0 0 0;
    }
  }

  &--center {
    margin: auto;
    display: table;
  }

  @include responsive(atLarge) {
    &--green {
      &--extralarge {
        font-size: 1.5rem;
      }
      &--mediumlarge {
        font-size: 1.3rem;
      }
    }
  }

  @include responsive(atExtraLarge) {
    &--green {
      &--extralarge {
        font-size: 1.8rem;
      }
    }
  }
}
