.cadastreSuasCompras {
  display: block;
  position: relative;
  padding: 6em 15px 3em 15px;

  .form {
    padding: 0;
  }

  h1 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: $colorBlue;
    margin-bottom: 1em;
    strong {
      font-weight: 500;
    }
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    display: block;
    width: 100%;
    text-align: center;
    color: $colorBlue;
    font-size: 1rem;
  }

  picture {
    margin: auto;
    display: table;
  }

  .owl-carousel--cadastroCompras {
    margin-bottom: -80px;
    margin-top: -20px;

    .item {
      img {
        max-width: 371px;
        margin: auto;
      }
    }
  }

  @include responsive(atMedium) {
    padding: 80px 15px 100px 15px;
    min-height: calc(80vh);

    h1 {
      font-size: 1.5rem;
    }

    .owl-carousel--cadastroCompras {
      margin: 0;
    }
  }

  @include responsive(atExtraLarge) {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem;
    }

    .owl-carousel--cadastroCompras {
      margin: -60px 0 0 0;
    }
  }
}
