.cadastre-se {
  display: block;
  position: relative;
  padding: 100px 15px 3em 15px;
  background: rgb(235, 246, 252);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(235, 246, 252, 1) 0%,
    rgba(235, 246, 252, 1) 26%,
    rgba(154, 214, 243, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(235, 246, 252, 1) 0%,
    rgba(235, 246, 252, 1) 26%,
    rgba(154, 214, 243, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(235, 246, 252, 1) 0%,
    rgba(235, 246, 252, 1) 26%,
    rgba(154, 214, 243, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf6fc', endColorstr='#9ad6f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  h1 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    color: $colorBlue;
    margin-bottom: 1em;
    font-weight: 500;
  }

  @include responsive(atMedium) {
    h1 {
      font-size: 1.5rem;
    }
  }
}
