.card {
  border: solid 1px $colorBlue;
  border-radius: 15px;
  overflow: hidden;
  margin: 2em 0;

  .card-header {
    background: $colorBlue;
    color: $colorWhite;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
  }

  .card-body {
    padding-right: 1.5em;
    padding-left: 1.5em;

    p {
      padding: 0;
      margin: 5px 0;
      text-align: left;
      color: $colorBlue;
      font-style: italic;
      font-size: 0.8rem;

      strong {
        font-weight: 500;
      }
    }

    table {
      tr {
        position: relative;

        th {
          border-bottom: solid 1px $colorBlue;
          text-transform: uppercase;
          color: $colorBlue;
          font-size: 0.7rem;
          font-style: italic;
        }
        span {
          position: absolute;
          top: 0;
        }
      }

      tr {
        td {
          padding: 10px 0;
          font-size: 0.7rem;
          color: $colorBlue;
          border-bottom: solid 1px $colorBlue;
        }

        &.flag {
          td {
            color: $colorRed;
            p {
              color: $colorRed;
              margin: -8px 0 0 0;
              font-size: 0.6rem;
            }
          }
        }

        &:last-of-type {
          td {
            border: none;
          }
        }
      }
    }
  }

  @include responsive(atLarge) {
    margin: 5em 0;

    .card-header {
      padding: 15px;
      font-size: 1.2rem;
    }

    .card-body {
      padding-right: 1em;
      padding-left: 1em;

      p {
        font-size: 1rem;
      }

      table {
        tr {
          th {
            font-size: 0.9rem;
            padding: 0 0 10px 0;
          }
        }

        tr {
          td {
            padding: 10px 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  @include responsive(atExtraLarge) {
    .card-header {
      padding: 20px;
      font-size: 1.4rem;
    }

    .card-body {
      padding-right: 3em;
      padding-left: 3em;
    }
  }
}
