.comoParticipar {
  display: block;
  position: relative;
  padding: 6em 15px 3em 15px;
  overflow: hidden;

  h1,
  h2 {
    text-align: center;
    display: block;
    width: 100%;
  }

  h1 {
    margin: 1em 0 0 0;
    color: $colorGreenFlorest;
    font-weight: 700;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1rem;
    margin-top: 5px;
    color: $colorBlue;
  }

  &__logo {
    width: 100%;
    max-width: 180px;
    margin: 0 auto 0 auto;
    animation: pulsar 1s infinite ease-in-out;
  }

  &__contagem {
    &--desk {
      display: none;
    }

    h3 {
      color: $colorGrey;
      font-size: 1rem;
      display: block;
      width: 100%;
      max-width: 300px;
      margin: auto;
      text-align: center;
    }

    p {
      display: block;
      width: 100%;
      max-width: 200px;
      margin: 0 auto 1em auto;
      color: $colorGrey;
      font-size: 0.8rem;
      text-align: center;
    }
  }

  ul {
    margin: 1em auto;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 3%;
      width: 100%;
      max-width: 33%;
      text-align: left;

      p {
        color: $colorBlue;
        font-size: 0.57rem;
        text-transform: uppercase;
        strong {
          font-size: 0.9rem;
          display: block;
          position: relative;
          left: -5px;
        }
        span,
        a {
          font-weight: 700;
          color: $colorBlue;
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }

  @include responsive(atMedium) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1em;
    }

    &__logo {
      margin: 0 auto -40px auto;
      max-width: 250px;
    }

    &__contagem {
      h3 {
        font-size: 1rem;
        max-width: 190px;
      }
    }

    ul {
      padding-left: 4%;

      li {
        max-width: 33%;
        text-align: left;
        p {
          strong {
            font-size: 1.6rem;
          }
          font-size: 1.2rem;
        }
      }
    }
  }

  @include responsive(atLarge) {
    &__logo {
      margin: 0 auto -60px auto;
      max-width: 260px;
    }

    &__contagem {
      &--desk {
        display: block;
      }

      &--mobile {
        display: none;
      }

      h3 {
        font-size: 1.1375rem;
        max-width: 234px;
      }
    }

    ul {
      padding-left: 4%;

      li {
        max-width: 22%;
        text-align: left;
        margin: 0 1%;
        p {
          strong {
            font-size: 1.6rem;
          }
          font-size: 1.2rem;
        }
      }
    }
  }

  @include responsive(atExtraLarge) {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.3rem;
    }

    &__contagem {
      h3 {
        text-align: left;
      }

      p {
        margin: auto;
        text-align: left;
      }
    }

    ul {
      li {
        p {
          strong {
            left: -15px;
          }
        }
      }
    }
  }
}
