.contato {
  display: block;
  position: relative;
  padding: 6em 15px 3em 15px;

  h1 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: $colorGreenFlorest;
    margin-bottom: 0.5em;
  }
  h2 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    color: $colorBlue;
    margin-bottom: 1em;
    strong {
      font-weight: 500;
    }
  }

  @include responsive(atMedium) {
    padding: 80px 15px 100px 15px;
    min-height: calc(80vh);

    h1 {
      font-size: 2.125rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  @include responsive(atExtraLarge) {
    h1 {
      font-size: 3rem;
    }
  }
}
