#countdown,
#countdownMobile {
  display: block;
  padding: 10px 0;

  &.countdown--blue {
    display: block;
    margin-top: -30px;
    ul {
      li {
        span {
          background-color: $colorBlue;
        }
      }
    }
  }

  ul {
    padding: 1em 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 290px;

    li {
      text-align: center;
      display: inline-block;
      vertical-align: top;
      width: 50px;

      span {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: $colorRedDark;
        border-radius: 50%;
        margin: 10px 4px;
        font-size: 1.4rem;
        color: $colorWhite;
        font-weight: 700;
        clear: both;
      }

      small {
        display: block;
        clear: both;
        font-size: 0.8rem;
        color: $colorGrey;
        padding: 0 0 0 5px;
        font-weight: 500;
      }
    }
  }

  @include responsive(atLarge) {
    ul {
      max-width: 330px;
      li {
        width: 70px;
        span {
          width: 70px;
          height: 70px;
          line-height: 70px;
          font-size: 1.6rem;
        }
      }
    }
  }
}
