.footer {
  padding: 3em 2em;

  &--bgcolor {
    background-color: $colorGreen;
  }

  ul {
    margin: 0;
    padding: 0 0 1em 0;
    li {
      display: block;
      margin: 0 0 5px 0;
      a {
        color: $colorWhite;
        text-transform: uppercase;
        font-family: urw-din, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
      }
    }
  }

  p {
    font-size: 0.75rem;
    color: $colorWhite;
    margin: 0;
  }

  &__social {
    a {
      color: $colorWhite;
      display: block;
      font-size: 1.1rem;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  @include responsive(atMedium) {
    ul {
      li {
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }
  }
}
