.form {
  padding: 4em 0;
  display: block;
  width: 100%;
  max-width: 950px;
  margin: auto;

  .form-check {
    margin-bottom: 10px;
  }

  .form-row {
    &--excluir {
      margin: 4em 0 2em;
    }
  }

  &--inner {
    input,
    select,
    textarea {
      border: solid 1px $colorBlue;
      background-color: $colorWhite;
      border-radius: 15px;
      outline: none !important;
      font-size: 1.1rem;
      line-height: 1.5;
      font-style: italic;
      height: 50px;
    }
    input[type="file"] {
      appearance: none;
      background-color: $colorGreenFlorest;
      max-width: 200px;
      margin: auto;
      display: block;
    }
    input[type="radio"],
    input[type="checkbox"] {
      appearance: none;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      display: table;

      &:checked {
        background-color: $colorWhite;

        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 20px;
          border: solid $colorBlue medium;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          position: absolute;
          top: 6px;
          left: 14px;
        }
      }
    }

    label {
      padding: 0 1em;
      color: $colorBlue;
      font-weight: 600;
      font-size: 0.9rem;
      position: relative;

      a {
        text-decoration: underline;
        color: $colorGreenFlorest;
      }

      &.center {
        text-align: center;
        display: block;
        width: 100%;
      }

      &.radio,
      &.checkbox {
        font-weight: 400;
        font-size: 1rem;
        padding: 0 15px 0 5px;
      }
    }

    textarea {
      height: auto;
    }

    select {
      appearance: none;
      background: url(resources/media/images/arrow.png) #fff no-repeat right
        center;
      width: 100%;
      padding: 0 1em;
    }
    small {
      display: block;
      font-size: 0.8rem;
      padding: 0 15px 30px 15px;
      width: 100%;
      max-width: 600px;
      color: $colorBlue;
    }

    button {
      margin: 0 auto;
      display: block;
      padding: 0.375rem 2.715rem;
      background-color: $colorGreenFlorest;
      border: 1px solid $colorGreenFlorest;
      color: $colorWhite;
      font-weight: 500;
      &:hover {
        background-color: $colorWhite;
        color: $colorGreenFlorest;
      }
    }

    p {
      font-size: 1rem;
      color: $colorBlue;
      padding-top: 2em;
    }

    &--cadastre-se {
      small {
        color: $colorGrey;
      }
    }

    &--contato {
      max-width: 730px;
    }

    &--compras {
      margin-top: 30px;

      button {
        margin: 0;
        position: relative;
        margin-top: 20px;
        line-height: 1.4;
        font-size: 1rem;
      }
    }

    &--upload {
      h2 {
        font-size: 1.5rem;
        color: $colorBlue;
      }
      p {
        margin: 0;
        padding: 10px 0;
        text-align: left !important;
      }
    }
  }

  @include responsive(atMedium) {
    &--inner {
      &--compras {
        margin-top: 50px;

        button {
          font-size: 1.2rem;
        }
      }
    }
  }

  @include responsive(atLarge) {
    &--inner {
      label {
        padding: 0 1em;
        font-size: 1.2rem;
      }
      textarea {
        height: auto;
      }

      &--compras {
        .form-group.col-lg-6 {
          padding: 0 15px;
        }
      }
    }
  }
}
