.ganhadores {
  display: block;
  position: relative;
  padding: 6em 0 0 0;
  overflow: hidden;

  h1 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: $colorGreenFlorest;
    margin-bottom: 0.5em;
  }
  h2,
  h3,
  h4 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: $colorBlue;
    margin-bottom: 1em;
    strong {
      font-weight: 500;
    }
  }

  h4 {
    text-align: left;
    margin: 1em auto;
    display: table;
    width: auto;
  }

  .map-pin {
    width: 64px;
    height: 50px;
    position: absolute;
    top: -53px;
    left: -55px;
    background-size: 18px 30px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: top center;
    color: #888;
    font-weight: 500;
    font-size: 14px;
    background-image: url("resources/media/images/pin.png");
  }

  .map-pin span {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
  }

  &__box {
    position: relative;
    &__estado {
      background-color: $colorGreenFlorest;
      border-radius: 10px;
      padding: 10px;
      h4 {
        padding: 0;
        text-align: center;
        margin: auto;
        color: $colorWhite;
        font-weight: 600;
        font-size: 0.8rem;
      }
      small {
        text-transform: uppercase;
        font-size: 0.7rem;
        color: $colorYellowLuck;
        font-weight: 600;
      }
    }
    &__atualizacao {
      p {
        color: $colorBlue;
        font-weight: 600;
        font-size: 0.65rem;
        margin: 10px 0;
      }
    }
  }

  #vmap {
    height: calc(80vh);
    padding-bottom: 0;
  }

  .square {
    width: 300px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }

  &__mapa {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    min-height: calc(80vh);
    padding: 50px 25px;
    text-align: center;

    &__semanais {
      table {
        border-collapse: separate;
        border-radius: 20px;
        background-color: $colorWhite;
        width: 100%;
        max-width: 655px;
        margin: auto;
        overflow: hidden;

        tr {
          th {
            font-size: 0.7rem;
            background-color: $colorYellowLuck;
            color: $colorBlue;
            font-weight: 600;
            padding: 10px 5px;
            border-bottom: solid 3px $colorWhite;
            border-right: solid 3px $colorWhite;
            &:last-of-type {
              border-right: none;
            }
          }
        }

        tr {
          td {
            padding: 10px 5px;
            background-color: $colorYellowSoft;
            color: $colorBlue;
            font-size: 0.7rem;
            border-bottom: solid 3px $colorWhite;
            border-right: solid 3px $colorWhite;
            &:last-of-type {
              border-right: none;
            }
          }
        }
      }
    }
  }

  @include responsive(atSmall) {
    .square {
      width: 300px;
      height: auto;
      position: absolute;
      left: 0;
      right: inherit;
      bottom: 15%;
    }

    &__box {
      position: relative;
      &__estado {
        small {
          font-size: 1rem;
        }
      }
      &__atualizacao {
        p {
          font-size: 0.85rem;
        }
      }
    }
  }

  @include responsive(atMedium) {
    padding: 80px 0 0 0;
    min-height: calc(80vh);

    h1 {
      font-size: 2.125rem;
    }
    h2,
    h3,
    h4 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.3rem;
    }
  }

  @include responsive(atLarge) {
    &__mapa {
      &__semanais {
        table {
          tr {
            th {
              font-size: 1.125rem;
              padding: 10px 10px;
              border-bottom: solid 5px $colorWhite;
              border-right: solid 5px $colorWhite;
            }
          }

          tr {
            td {
              padding: 10px 10px;
              font-size: 1rem;
              border-bottom: solid 5px $colorWhite;
              border-right: solid 5px $colorWhite;
            }
          }
        }
      }
    }

    #vmap {
      height: 500px;
    }
  }
}
