.generic-content {
  display: block;
  position: relative;
  padding-top: 50px;

  @include responsive(atMedium) {
  }

  @include responsive(atLarge) {
    .row.row--top-negative {
      margin-top: -80px;
    }

    padding-top: 120px;
    min-height: 800px;
  }
}
