.header {
  display: block;
  position: relative;
  background-color: $colorWhite;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 7px -2px rgba(0, 0, 0, 0.22);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;

  &__logo {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    height: auto;
  }

  &__button {
    display: none;
  }

  @include responsive(atLarge) {
    padding: 0 0;

    &__logo {
      display: block;
      max-width: 130px;
      position: relative;
      top: 0;
    }

    &__button {
      display: block;
    }

    &--no-logo {
      .header__logo {
        transform: scale(0);
        height: 0;
      }
    }
  }
}
