.headlinesSections {
  h1 {
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 700;
    color: $colorGreenFlorest;
    font-size: 1.8rem;
  }

  @include responsive(atLarge) {
    h1 {
      font-size: 2.1rem;
    }
  }
  @include responsive(atExtraLarge) {
    h1 {
      font-size: 3rem;
    }
  }
}
