.minhaArea {
  display: block;
  position: relative;
  padding: 6em 0 3em;

  .container {
    width: 100%;
    max-width: 980px;
  }

  h1 {
    color: $colorBlue;
    margin: auto;
    font-weight: 600;
    font-size: 1.5rem;
  }

  h2 {
    color: $colorBlue;
    margin: auto;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    color: $colorBlue;
    margin: 10px auto 2em auto;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 15px;
  }

  p {
    margin: 1.5em auto;
    font-size: 1rem;
    text-align: center;
    color: $colorBlue;
    padding: 0 15px;
  }

  picture {
    display: block;
    margin: auto;
  }

  ul {
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    display: block;
    width: 100%;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 2%;
      font-size: 0.8rem;
      font-weight: 600;
      img {
        display: inline-block;
        vertical-align: middle;
        width: 25px;
      }
    }
  }

  &__banner {
    display: none;
  }

  &__contagem {
    display: none;

    &--mobile {
      display: block;
      margin: -20px auto 60px auto;
    }
  }

  // Tabelas Prêmio
  &__premios {
    display: block;
    width: 100%;
    margin-bottom: 3em;

    table {
      font-size: calc(3vw);
      font-weight: 600;
      border-collapse: separate;
      border-spacing: 5px 4px;

      tr {
        td {
          padding: 0 0;

          img {
            margin: auto;
            width: 35px;
          }
        }
      }
    }

    &__cabecalho {
      tr {
        td {
          color: $colorBlue;
          font-weight: 700;
          font-size: 0.7rem;
        }
      }
    }

    &__invalido {
      tr {
        td {
          background-color: $colorWhite;
          padding: 5px 10px !important;
          border: solid 2px $colorRed;
          color: $colorRed;
          text-align: center;
        }
      }
      &__venceu {
        display: block;
        tr {
          td {
            background-color: $colorRed;
            padding: 5px 10px !important;
            font-size: 0.5rem;
            color: $colorWhite;
            width: calc(100vw);
          }
        }
      }
    }

    &__analise {
      tr {
        td {
          background-color: $colorWhite;
          padding: 5px 10px !important;
          border: solid 2px $colorOrange;
          color: $colorOrange;
          text-align: center;
        }
      }
    }

    &__premiado {
      tr {
        td {
          background-color: $colorWhite;
          padding: 5px 10px !important;
          border: solid 2px $colorGreen;
          color: $colorGreen;
          text-align: center;
        }
      }

      &__aviso {
        display: block;
        tr {
          td {
            background-color: $colorGreen;
            padding: 5px 10px !important;
            font-size: 0.5rem;
            color: $colorWhite;
            text-transform: uppercase;
            width: calc(100vw);
          }
        }
      }
    }
  }

  @include responsive(atSmall) {
    &__contagem {
      display: block;

      &--mobile {
        display: none;
      }
    }
  }

  @include responsive(atMedium) {
    padding: 80px 15px 100px 15px;
    min-height: calc(80vh);

    h1 {
      font-size: 2.125rem;
    }

    ul {
      li {
        font-size: 1rem;
        img {
          width: 52px;
        }
      }
    }

    &__premios {
      table {
        font-size: calc(1.2rem);
        border-spacing: 20px 4px;
      }

      &--semanal {
        margin-top: 40px;

        h2 {
          margin-bottom: 0.5em;
        }
      }

      &__cabecalho {
        tr {
          td {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @include responsive(atLarge) {
    &__banner {
      display: block;
    }

    h2 {
      font-size: 2.125rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    &__premios {
      table {
        tr {
          td {
            img {
              width: 45px;
            }
          }
        }
      }

      &__cabecalho {
        tr {
          td {
            font-size: 1.5rem;
          }
        }
      }
      &__invalido,
      &__premiado {
        &__venceu,
        &__aviso {
          tr {
            td {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  @include responsive(atExtraLarge) {
    h1 {
      font-size: 2.125rem;
    }

    &__premios {
      table {
        font-size: calc(1.4rem);
        border-spacing: 30px 4px;
      }
    }
  }
}
