#modal-login {
  .modal-header {
    border-bottom: none;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  h1,
  h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2em;
    color: $colorBlue;
  }

  h1 {
    padding-top: 1em;
  }

  h3 {
    font-size: 1.2rem;
    color: $colorBlue;
    font-weight: 700;
    margin: 0 1em;
  }

  form {
    padding: 0;
    margin: 0 0 1.5em 0;
    transition: all 0.3s ease-in-out;

    &.login__form--hide {
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    label {
      color: $colorBlack;
      font-size: 1rem;
    }

    input {
      outline: none !important;
      border: solid 1px $colorBlack;
    }

    button {
      margin: 0 auto;
      display: block;
      padding: 0.375rem 2.715rem;
      background-color: $colorGreenFlorest;
      border: solid 1px $colorGreenFlorest;
      color: $colorWhite;
      font-weight: 500;
      &:hover {
        background-color: $colorWhite;
        color: $colorGreenFlorest;
      }
    }
  }

  .login__form__esqueciasenha,
  .login__form__esqueciasenha--voltar {
    text-align: center;
    display: table;
    font-size: 0.9375rem;
    padding: 0.5em 0;
    color: $colorBlack;
    margin: auto;
    text-decoration: underline;
  }

  .login__form--recuperasenha {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }

  @include responsive(atMedium) {
    h1,
    h2 {
      font-size: 1.5rem;
    }

    form {
      label {
        font-size: 1.25rem;
      }
    }
  }
}
