.navbar {
  button {
    position: relative;
    &:after {
      content: "";
      width: 140%;
      height: 200%;
      left: -20%;
      top: -30%;
      display: block;
      background-color: $colorYellowDark;
      position: absolute;
      z-index: -1;
      border-radius: 5px;
    }
  }
  .navbar-nav {
    padding: 15px 0;

    li {
      a {
        font-size: 0.9375rem;
        color: $colorGrey;
        font-weight: 600;
        &.active {
          color: $colorYellowDark !important;
        }
      }
    }
    .nav-item {
      &--mobile {
        img {
          width: 100%;
          max-width: 140px;
        }
      }
    }
  }

  &__buttomMobile,
  .bt-login {
    background-color: $colorGreenFlorest;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    color: $colorWhite;
    font-weight: 700;
    font-style: italic;
    display: block;

    a {
      color: $colorWhite;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

  &__logged {
    width: 90px;
    border-radius: 10px;
    color: $colorGrey;
    font-weight: 700;
    font-style: italic;
    display: block;
    padding: 0px 10px 5px 10px;
    margin: 0 0 0 2em;

    small {
      display: block;
      font-size: 0.5rem;
      line-height: 1.8;
      padding: 0 2px;
    }

    ul {
      padding: 0;
      margin: 0;
      text-align: left;
      li {
        display: inline-block;
        margin: 0 0;
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 0.5rem;
          color: $colorGrey;
          &:hover {
            opacity: 0.8;
          }
          svg {
            color: $colorYellow;
            fill: $colorYellow;
          }
        }
      }
    }
  }

  // Toggle Icon
  &--icon {
    width: 40px;
    height: 18px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border: none;
    left: 10px;
    top: -3px;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $colorWhite;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 10px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }
        &:nth-child(3) {
          top: 10px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }

  //End Toggle Icon

  // Responsive
  @include responsive(atMedium) {
    .navbar-nav {
      li {
        a {
          font-size: 0.77rem;
        }
      }

      .bt-login {
        color: $colorWhite;
        text-transform: uppercase;
        font-size: 0.9375rem;
        &:hover {
          text-decoration: none;
          opacity: 0.95;
        }
      }
    }
  }

  @include responsive(atLarge) {
    .navbar-nav {
      padding: 0;

      .nav-item {
        &--mobile {
          display: none;
        }
      }
    }

    .bt-login {
      width: 200px;
    }

    &__buttomMobile {
      display: none !important;
    }

    &__logged {
      width: 200px;
      border: solid 1px $colorGreenFlorest;

      small {
        font-size: 0.9rem;
        line-height: 1.8;
        padding: 0 10px;
      }

      ul {
        padding: 0;
        margin: 0;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 5px;
          a {
            text-decoration: none;
            font-weight: 400;
            font-size: 0.88rem;
            color: $colorGrey;
            &:hover {
              opacity: 0.8;
            }
            svg {
              color: $colorYellow;
              fill: $colorYellow;
            }
          }
        }
      }

      &--mobile {
        display: none;
      }
    }
  }

  @include responsive(atExtraLarge) {
    .navbar-nav {
      li {
        a {
          font-size: 0.9375rem;
        }
      }
    }
  }
}
