.owl-carousel {
  position: relative;
  width: 100%;

  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      z-index: 10;
      font-size: 3rem;
      margin: 0;
      padding: 0;
      text-indent: -99999px;
      width: 46px;
      height: 54px;
      display: block;

      &:hover {
        opacity: 0.8;
      }
    }
    .owl-prev {
      left: 0;
      background: url(resources/media/images/arrow_left.png) no-repeat center
        center !important;
      background-size: contain !important;
    }
    .owl-next {
      right: 0;
      background: url(resources/media/images/arrow_right.png) no-repeat center
        center !important;
      background-size: contain !important;
    }
  }

  .owl-item {
    transition: all 0.3s ease-in-out;
    transform: scale(0.7);

    picture {
      img {
        width: 100%;
        max-width: 260px;
        display: block;
        margin: auto;
      }
    }

    .owl-carousel--produtosParticipantes {
      &__content {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        text-align: center;
        padding: 0 15px 1em 15px;

        h2 {
          color: $colorBlue;
          font-size: 1.675rem;
          font-weight: 400;
        }
        small {
          font-size: 1rem;
          color: $colorBlue;
        }
        p {
          font-size: 1rem;
          color: $colorBlue;
          font-weight: 600;
        }
      }
    }
    &.center.active {
      transform: scale(1);
      .owl-carousel--produtosParticipantes {
        &__content {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
