.premiacao {
  display: block;
  position: relative;
  padding: 2em 0 0 0;
  overflow: hidden;

  &__foto,
  &__mais {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 30px;

    picture {
      img {
        margin: auto;
        position: relative;
        z-index: 2;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 75%;
      display: block;
      background-color: $colorBlueSmoth;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__mais {
    margin: 2em 0 4em 0;

    &::after {
      content: "";
      height: 78%;
      bottom: 10%;
      background-color: $colorYellowDark;
    }
  }

  @include responsive(atLarge) {
    padding: 4em 0;
  }
  @include responsive(atExtraLarge) {
    padding: 6em 0;

    &__mais {
      margin: 2em 0 4em 0;

      &::after {
        content: "";
        height: 65%;
        bottom: 0;
      }
    }
  }
}
