.produtosParticipantes {
  display: block;
  position: relative;
  padding: 2em 0;
  overflow: hidden;

  @include responsive(atLarge) {
    padding: 4em 0;

    h1 {
      font-size: 2.1rem;
    }

    .owl-carousel {
      .owl-item {
        .owl-carousel--produtosParticipantes {
          &__content {
            padding: 0 15px 1em 15px;
          }
        }
      }
    }
  }
  @include responsive(atExtraLarge) {
    padding: 6em 0;

    .owl-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          top: 35%;
          transform: translateY(-35%);
          width: 76px;
          height: 84px;
        }
      }

      .owl-item {
        picture {
          img {
            max-width: 600px;
          }
        }

        .owl-carousel--produtosParticipantes {
          &__content {
            h2 {
              font-size: 1.875rem;
            }
            small {
              font-size: 1rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
