.regulamento {
  display: block;
  position: relative;
  padding: 6em 15px 3em 15px;

  h1 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: $colorGreenFlorest;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1rem;
    color: $colorBlue;
    display: block;
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 1em auto;
  }

  .btn {
    width: 100%;
    max-width: 220px;
    margin: 2.5em auto;
    display: block;
  }

  @include responsive(atMedium) {
    padding: 80px 15px 100px 15px;
    min-height: calc(80vh);

    h1 {
      font-size: 2.125rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  @include responsive(atExtraLarge) {
    h1 {
      font-size: 3rem;
    }
  }
}
