.roleta {
  display: block;
  position: relative;
  padding: 6em 15px 3em 15px;
  background-color: $colorYellowLuck;

  &__desk {
    display: none !important;
    width: 100%;
  }

  h1 {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: $colorBlue;
    margin-bottom: 1em;
  }

  h2 {
    text-align: center;
    color: $colorBlue;
    margin: 2em 0;
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    color: $colorBlue;
    display: block;
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 1em auto;
  }

  picture {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 60px;

    &::after {
      content: "";
      position: absolute;
      top: -8%;
      left: 0;
      right: 0;
      margin: auto;
      width: 28px;
      height: 61px;
      display: block;
      background: url(resources/media/images/pin-roleta.png) no-repeat center
        top;
      background-size: contain;
    }
  }

  @include responsive(atMedium) {
    padding: 80px 15px 100px 15px;
    min-height: calc(80vh);

    &__desk {
      display: flex !important;
      width: 100%;
    }

    &__mobile {
      display: none;
    }

    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 1rem;
    }
  }

  @include responsive(atLarge) {
    padding: 100px 15px 100px 15px;
    min-height: calc(80vh);

    h1 {
      font-size: 2.125rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    picture {
      margin-top: 60px;

      &::after {
        content: "";
        position: absolute;
        top: -8%;
        width: 48px;
        height: 81px;
        background: url(resources/media/images/pin-roleta.png) no-repeat center
          top;
        background-size: contain;
      }
    }
  }
}
