// Cores
$colorGreen: #59852b;
$colorGreenFlorest: #236041;
$colorWhite: #fff;
$colorGrey: #58595b;
$colorYellow: #e9cd4e;
$colorBlue: #193867;
$colorBlueSmoth: #6696c7;
$colorBlack: #000;
$colorRed: #ff0000;
$colorRedDark: #db0100;
$colorYellowDark: #e9cd4e;
$colorYellowLuck: #f5cf40;
$colorYellowSoft: #fcf4d5;
$colorOrange: #ff7e00;

// Fonts - by Adobe Reference

// URW DIN Light
// font-family: urw-din, sans-serif;
// font-weight: 300;
// font-style: normal;

// URW DIN Light Italic
// font-family: urw-din, sans-serif;
// font-weight: 300;
// font-style: italic;

// URW DIN Regular Italic
// font-family: urw-din, sans-serif;
// font-weight: 400;
// font-style: italic;

// URW DIN Regular
// font-family: urw-din, sans-serif;
// font-weight: 400;
// font-style: normal;

// URW DIN Medium Italic
// font-family: urw-din, sans-serif;
// font-weight: 500;
// font-style: italic;

// URW DIN Medium
// font-family: urw-din, sans-serif;
// font-weight: 500;
// font-style: normal;

// URW DIN Demi Italic
// font-family: urw-din, sans-serif;
// font-weight: 600;
// font-style: italic;

// URW DIN Demi
// font-family: urw-din, sans-serif;
// font-weight: 600;
// font-style: normal;

// URW DIN Bold Italic
// font-family: urw-din, sans-serif;
// font-weight: 700;
// font-style: italic;

// URW DIN Bold
// font-family: urw-din, sans-serif;
// font-weight: 700;
// font-style: normal;

// Background Radial
.backgroundRadial {
  background: rgb(235, 246, 252); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(235, 246, 252, 1) 0%,
    rgba(235, 246, 252, 1) 26%,
    rgba(154, 214, 243, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(235, 246, 252, 1) 0%,
    rgba(235, 246, 252, 1) 26%,
    rgba(154, 214, 243, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(235, 246, 252, 1) 0%,
    rgba(235, 246, 252, 1) 26%,
    rgba(154, 214, 243, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf6fc', endColorstr='#9ad6f3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
