@mixin responsive($breakpoints) {
  @if $breakpoints == atSmall {
    @media only screen and (min-width: 576px) {
      @content;
    }
  }
  @if $breakpoints == atMedium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoints == atLarge {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoints == atExtraLarge {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoints == ipadPortrait {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      @content;
    }
  }
  @if $breakpoints == ipadLandscape {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }
  @if $breakpoints == clearFix() {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}
